body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #faf29a28;
}

.navbar {
  color: #1f2029;
  padding: .05rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
}

.content {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 8rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #555;
  font-size: 25px;
}

.card {
  background: white;
  padding: 2rem;
  margin: 1rem auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
}

.card button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

/* Button styles */
.increment-btn {
  background-color: #009cea;
  color: white;
}

.increment-btn:hover {
  background-color: #7c4dff;
}

.reset-btn {
  background-color: #ff5252;
  color: white;
}

.reset-btn:hover {
  background-color: #ff1744;
}